body {
    
    height: 100vh;
    margin: 0em;
    padding: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 40, 40);
}

#contenedorGeneral {
    height: 38em;
    width: 20em;
}
/* Parte superior */
#parteSuperior {
    height: 18em;
    border-radius: 1em;
    background-color: #4e4efc;
    border-radius: 1em;
}
#parteSuperiorEncendido{
    height: 1.8em;
    background-color:#4e4efc;
    border-radius: 1em 1em 0em 0em;
    box-shadow: inset -0.6em 0 0.1em -0.4em #6969ff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
#superiorCirculoPequeño{
    height: 1.2em;
    width: 1.2em;
    border-radius: 1em;
    background-color: #6969ff;
}
#espacioBlanco{
    height: 1.8em;
    width: 5em;
}
#superiorCentroCirculo{
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background-color: #6969ff;
}

#parteSuperiorPantalla{
    height: 14em;

    display: flex;
    flex-direction: row;
}
#pantallaBordeIzquierda{
    width:1.5em;
    background-color: #4e4efc;
}
#pantallaCentral{
    padding: 0;
    margin: 0;
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(49, 49, 49);
    border-radius: 0.3em;
    box-shadow:inset 0em 0em 0em 0.1em #6969ff;
}
#pantallaBordeDerecho{
    width:1.5em;
    background-color: #4e4efc;
    box-shadow: inset -0.6em 0 0.1em -0.4em #6969ff;
}
#parteInferiorLogo{
    height: 2.5em;
    background-color: #4e4efc;
    border-radius: 0em 0em 1em 1em;
    box-shadow: inset -0.6em 0 0.1em -0.4em #6969ff,
    inset 0 -0.8em 1em -0.6em #323299;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
#logoCirculo{
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background-color: #6969ff;
}
#espacioBlanco2{
    height: 2em;
    width: 12em;
}
#barraSuperiorPantalla{
    height: 1em;
    width: 1em;
}

#lcd{
    height: 13em;
    width: 15.3em;
    background: rgb(2,0,36);
    background: linear-gradient(166deg, rgba(2,0,36,1) 0%, rgba(97,102,105,1) 61%, rgba(0,212,255,1) 100%);
    box-shadow: inset 0px 0px 17px 5px rgba(0,0,0,0.66);
}
#espacioVacio{
    height: 0.6em;
    background-color: blueviolet;
}
#nombreConsola{
    width: 15.3em;
    height: 1.4em;
    background-color: rgb(49, 49, 49);;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#espacioVacioAbajo{
    width: 15.3em;
    height: 0.2em;
}
.tamaño{
    width:9em;
}
/* Agarre de la consola entre parte superior e inferior */
#agarre{
    height: 2em;
    width: 20em;
    background-color: #4e4efc;
    border-radius: 0.5em 0.5em 0em 0em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: inset 0 -0.4em 0.8em -0.2em #323299;
}
#agarreIzquierda{
    height: 2em;
    width: 1.4em;
    background-color: #4e4efc;
    border-radius: 0.5em 0em 0em 0.5em;
    border-right: black solid 0.1em;
    box-shadow: inset 0.4em 0 0.6em -0.1em #323299,
    inset 0 -0.4em 0.8em -0.2em #323299,
    inset 0 0.4em 0.8em -0.2em #323299;
}
#agarreCentroIzquierda{
    height: 2em;
    width: 8.6em;
    background-color: #4e4efc;
    border-right: black solid 0.1em;
    box-shadow: inset 0 -0.4em 0.8em -0.2em #323299,
    inset 0 0.4em 0.8em -0.2em #323299;;

}
#agarreCentroDerecha{
    height: 2em;
    width: 8.6em;
    background-color: #4e4efc;
    border-right: black solid 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#agarreCentroDerechaGrande{
    height: 2em;
    width: 7.2em;
    background-color: #4e4efc;
    box-shadow: inset 0 -0.4em 0.8em -0.2em #323299,
    inset 0 0.4em 0.8em -0.2em #323299;;

}
#agarreCentroDerechaPequeño{
    height: 2em;
    width: 1.4em;
    background-color: #4e4efc;
    border-left: black solid 0.1em;
    box-shadow: inset 0 -0.4em 0.8em -0.2em #323299,
    inset 0 0.4em 0.8em -0.2em #323299;
}
#agarreDerecha{
    height: 2em;
    width: 1.4em;
    background-color: #4e4efc;
    border-radius: 0em 0.5em 0.5em 0em;
    box-shadow: inset -0.4em 0 0.6em -0.1em #323299,
    inset 0 -0.4em 0.8em -0.2em #323299,
    inset 0 0.4em 0.8em -0.2em #323299;
}
/* Parte inferior de la consola */
#parteInferior {
    height: 18em;
    width: 20em;
    background-color: #4e4efc;
    border-radius: 0em 0em 1em 1em;
    box-shadow: inset 0 0.4em 1em 0em #323299;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#lateralIzquierdoInferior{
    width: 1.4em;
    height: 18em;
}
#centroInferior{
    height: 18em;
    width: 17.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#centroBotonSuelto{
    height: 2.4em;
    width: 17.2em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
}
#botonPequeñoBorde{
    height: 1.5em;
    width: 1.5em;
    border-radius: 1em;
    background: linear-gradient(166deg, rgba(2,0,36,1) 0%, rgba(121,121,121,1) 100%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#botonPequeñoInterior{
    height: 1em;
    width: 1em;
    border-radius: 0.5em;
    background-color: grey;
}
#botonPequeñoInterior:hover{
    cursor: pointer;
}
#lateralDerechoInferior{
    height: 18em;
    width: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#vacioLucesSuperior{
    height: 1em;
    width: 1.4em;
}
#lucesEncendido{
    height: 2.2em;
    width: 1.4em;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
}
#cuadradoLuzPower{
    height: 0.5em;
    width: 0.5em;
    background-color: orange;
}
#cuadradoLuz{
    height: 0.5em;
    width: 0.5em;
    background-color: rgb(46, 46, 46);
}
#vacioLucesInferior{
    height: 14.8em;
    width: 1.4em;
}
#centroBotonesStartSelect{
    height: 4.2em;
    width: 17.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#espacio1{
    height: 4.2em;
    width: 5.6em;
}
#espacioBotones{
    height: 4.2em;
    width: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#botonesSeparados{
    height: 4.2em;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#botonTexto{
    height: 1.2em;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botonBordeExterior{
    height: 2.5em;
    width: 2.5em;
    border-radius: 2.5em;
    background-color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    justify-content: center;
}
#botonBordeInterior{
    height: 2.4em;
    width: 2.4em;
    border-radius: 2em;
    background-color: #4e4efc;
    box-shadow: inset -0.4em 0 0.5em -0.2em #323299,
    inset 0.4em 0 0.5em -0.2em #323299,
    inset 0 -0.4em 0.5em -0.2em #323299,
    inset 0 0.4em 0.5em -0.2em #323299;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botonCentro{
    height: 1.4em;
    width: 1.4em;
    border-radius: 1.4em;
    background-color: gray;
    box-shadow: inset 0.1em 0 black,
    inset -0.1em 0 black,
    inset 0 0.1em black,
    inset 0 -0.1em black;
}
#botonCentro:hover{
    cursor: pointer;
    box-shadow: inset 0.15em 0 0.2em 0.1em black,
    inset -0.15em 0 0.2em 0.1em black,
    inset 0 0.15em 0.2em 0.1em black,
    inset 0 -0.15em 0.2em 0.1em black;
}
#espacioVacioBotones{
    height: 0.5em;
    width: 0.5em;
}
.fuente{
    font-family: Impact, sans-serif;
    color: rgb(59, 59, 85);
    font-size: 0.8rem;
    font-stretch: condensed;
}
#centro{
    height: 11.4em;
    width: 17.2em;
    display: flex;
}

#botonesAB{
    height: 3em;
    width: 6.8em;
    transform: rotate(160deg);
    border-radius: 2em;
    box-shadow: inset -0.4em 0 0.5em -0.1em #323299,
    inset 0.4em 0 0.5em -0.1em #323299,
    inset 0 -0.4em 0.5em -0.1em #323299,
    inset 0 0.4em 0.5em -0.1em #323299;
    background-color: 4e4efc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 2em; left: 4em;
}
#botonA{
    height: 2em;
    width: 2em;
    border-radius: 1.4em;
    transform: rotate(200deg);
    background-color: gray;
    box-shadow: inset 0.1em 0 black,
    inset -0.1em 0 black,
    inset 0 0.1em black,
    inset 0 -0.1em black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botonA:hover{
    cursor: pointer;
    box-shadow: inset 0.15em 0 0.2em 0.1em black,
    inset -0.15em 0 0.2em 0.1em black,
    inset 0 0.15em 0.2em 0.1em black,
    inset 0 -0.15em 0.2em 0.1em black;
}
#botonB{
    height: 2em;
    width: 2em;
    border-radius: 1.4em;
    transform: rotate(200deg);
    background-color: gray;
    box-shadow: inset 0.1em 0 black,
    inset -0.1em 0 black,
    inset 0 0.1em black,
    inset 0 -0.1em black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botonB:hover{
    cursor: pointer;
    box-shadow: inset 0.15em 0 0.2em 0.1em black,
    inset -0.15em 0 0.2em 0.1em black,
    inset 0 0.15em 0.2em 0.1em black,
    inset 0 -0.15em 0.2em 0.1em black;
}
.fuenteAB{
    font-family: Impact, sans-serif;
    color: rgb(76, 76, 107);
    font-size: 1.2rem;
    font-stretch: condensed;
}
.fuenteAB:hover{
    cursor: pointer;
}

#ventilacion{
    height: 4em;
    width: 4em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    position: relative;
    top: 7.4em; right: 6.2em;
}
#cuadrado{
    height: 1em;
    width: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circulo{
    height: 0.2em;
    width: 0.2em;
    border-radius: 0.2em;
    background-color: black;
}
#flechas{
    height: 6em;
    width: 6em;
    background-color: #4e4efc;
    border-radius: 6em;
    box-shadow: inset -0.4em 0 0.5em -0.1em #323299,
    inset 0.4em 0 0.5em -0.1em #323299,
    inset 0 -0.4em 0.5em -0.1em #323299,
    inset 0 0.4em 0.5em -0.1em #323299;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
    top: 0.6em;
    left: 0.4em;
}
#cuadradoFlechasVacio{
    height: 1.2em;
    width: 1.2em;
}
#cuadradoFlechasGris1{
    height: 1.2em;
    width: 1.2em;
    background-color: gray;
    box-shadow: inset 0.1em 0 black,
    inset -0.1em 0 black,
    inset 0 0.1em black;
}
#cuadradoFlechasGris1:hover{
    cursor: pointer;
}
#cuadradoFlechasGris2{
    height: 1.2em;
    width: 1.2em;
    background-color: gray;
    box-shadow: inset 0.1em 0 black,
    inset 0 0.1em black,
    inset 0 -0.1em black;
}
#cuadradoFlechasGris2:hover{
    cursor: pointer;
}
#cuadradoFlechasGris3{
    height: 1.2em;
    width: 1.2em;
    background-color: gray;
}
#cuadradoFlechasGris3:hover{
    cursor: pointer;
}
#cuadradoFlechasGris4{
    height: 1.2em;
    width: 1.2em;
    background-color: gray;
    box-shadow: inset -0.1em 0 black,
    inset 0 0.1em black,
    inset 0 -0.1em black;
}
#cuadradoFlechasGris4:hover{
    cursor: pointer;
}
#cuadradoFlechasGris5{
    height: 1.2em;
    width: 1.2em;
    background-color: gray;
    box-shadow: inset 0.1em 0 black,
    inset -0.1em 0 black,
    inset 0 -0.1em black;
}
#cuadradoFlechasGris5:hover{
    cursor: pointer;
}